/*Variable för färger*/
:root {
  --Primary: #01152a;    /* Djup, mörkblå/svart rymd */
  --Secondary: #1a608d;  /* Djupt havsblått */
  --Background: #f0f7f9; /* Ljus, nästan vit färg från moln och isar */
  --TextColor: #f0f7f9;  /* Mörkgrön (skogsområden) för bra kontrast mot Background */
  --Accentfärg: #ffc200; /* Solglimt/Stadsljus för en varm kontrast */
}

*{
  padding: 0;
  margin: 0;
}

/*Font i komponenten Home*/
.fontHome {
  font-size: 1.5rem;
  color: var(--TextColor);
}

.bi-arrow-down {
  display: inline-block;
}

.bi-arrow-down path {
  stroke: currentColor;
  stroke-width: 1.75;
  stroke-linejoin: round;
}

a:has(.bi-arrow-down) {
  animation: 
  bounceAndColor 2s ease-in-out infinite,
  colorChange 2s ease-in-out infinite;
  display: inline-block;
}

@keyframes bounceAndColor {
    0%, 100% {
        transform: translateY(0);
    }
    
    50% {
        transform: translateY(15px);
    }
    
    75% {
        transform: translateY(0);
    }
}

.bgProfilePicture {
  /* background-color: var(--TextColor); */
  background: linear-gradient(
    to bottom right,
    var(--Primary) 0%,    /* #01152a - 1. Djupaste Rymden / Nattsida */
    #05284b 25%,          /* 2. Mycket mörk atmosfär / Skymning */
    #0d426a 50%,          /* 3. Djupare hav / Sen skymning */
    #15517b 75%,          /* 4. Ljusare hav / Tidig morgon */
    var(--Secondary) 100% /* #1a608d - 5. Djupt Hav / Dagssida */
  );
  overflow-y: hidden;
}

.space:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background-image: url("../src/assets/space.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* Tar bort background-attachment: fixed för iOS-kompatibilitet */
}



@supports (background-attachment: fixed) {
  @media (min-width: 768px) {
    .space:before {
      background-attachment: fixed;
    }
  }
}

.welcome{
  animation: colorChange 2s ease-in-out infinite;
  color: var(--TextColor);
  fill: var(--TextColor);
}

@keyframes colorChange {
    0%, 100% {
        color: var(--TextColor);
    }
    
    50% {
        color: var(--Primary);
    }
    
    75% {
        color: var(--Primary);
    }
}



/*Style text*/
.textColor {
  color: var(--TextColor);
  border-bottom: 3px solid var(--Accentfärg);
  /*Behöver en ny rad för varje element som ska in i vänsterkolumenen*/
  font-size: 2rem;
}

.textColorWhite{
    color: var(--TextColor);
  border-bottom: 3px solid var(--Accentfärg);
  /*Behöver en ny rad för varje element som ska in i vänsterkolumenen*/
  font-size: 2rem;
}

/*#region generell css *, html, body*/
* {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

body {
  background-color: var(--Background);
}

/*#endregion*/

/*#region style för navbar*/
@media (min-width: 768px) {
  /* nav {
    background-color: var(--Primary);
  } */
.custom-toggler {
    display: none;
  }
}

.navBackground{
  background-color: var(--Primary);
  border-radius: 2rem;
}

nav a {
  color: var(--TextColor);
  border-bottom: 3px solid transparent;
  text-decoration: none;
  font-size: 1.25rem;
}

nav a:hover {
  border-bottom: 3px solid var(--Accentfärg);
}

@media (max-width: 767.98px) {

  nav {
    margin-top: 50vh;
  }

  .buttonDiv{
    background-color: var(--Accentfärg);
  }

  .custom-toggler {
    position: relative;
    width: 4rem;
    height: 2.8rem;
    background-color: var(--Accentfärg);
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: block;
    overflow: hidden;
  }


}

.infoText {
  color: var(--TextColor);
}

.headerWhite{
  color: var(--Primary);
  border-bottom: var(--Accentfärg) solid;
}

/*#endregion*/

/*#region Grund postitionen på sträcken i hamburgarmenyn*/
.navbar-collapse {
  overflow: hidden;
  opacity: 1;
  transform: translateX(100%);
  transition: 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transform-origin: right center;
}

@media (min-width: 767px) {
  .navbar-collapse{
    transform: translateX(0);
  }
}

.navbar-toggler-top,
.navbar-toggler-middle,
.navbar-toggler-bottom {
  position: absolute;
  height: 0.35rem;
  width: 2.5rem;
  background-color: var(--Primary);
  display: block;
  transition: 0.4s ease-in-out, opacity 0.4s ease-in-out;
  transform-origin: center;
  border-radius: 3px;
  left: 0.25rem; /* Centrera strecken inom knappen */
  right: 0.25rem;
}

.navbar-collapse.show {
  opacity: 1;
  transform: translateX(0);
}

.navbar-toggler-top {
  top: 0.4rem;
  width: 3.5rem;
}

.navbar-toggler-middle {
  top: 1.2rem;
  width: 3.5rem;
}

.navbar-toggler-bottom {
  top: 2rem;
  width: 3.5rem;
}

/*Effekten när användaren klicak på den*/
.custom-toggler[aria-expanded="true"] .navbar-toggler-top {
  top: 1.3rem;
  transform: rotate(45deg);
  width: 3.5rem;
}

.custom-toggler[aria-expanded="true"] .navbar-toggler-middle {
  display: none;
}

.custom-toggler[aria-expanded="true"] .navbar-toggler-bottom {
  top: 1.3rem;
  transform: rotate(-45deg);
  width: 3.5rem;
}

/*#endregion*/

/*#region scrollbar*/
/*Ytan för scrollbar*/
::-webkit-scrollbar {
  width: 12px;
  background-color: var(--Primary);
}

/*Spåret som den går i*/
::-webkit-scrollbar-track {
  background-color: var(--Background);
}

@media (max-width: 767px) {
  /*Spåret som den går i*/
  ::-webkit-scrollbar-track {
  }
}

/*Själva scrollbaren*/
::-webkit-scrollbar-thumb {
  background-color: var(--Primary);
  border-radius: 10px;
  border: 3px solid var(--Background);
}

/*Vidrörande av scrollbaren*/
::-webkit-scrollbar-thumb:hover {
  background-color: var(--TextColor);
}

/*#endregion*/

/*#region rotation för profilbilden*/
.profilePicture {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  transition: transform 0.6s ease-in-out;
  width: 70%;
  height: 85%;
}

.rotate {
  transform: rotateY(90deg);
}

@media (max-width: 1900px) {
  .profile-margin {
    margin-top: 60px;
  }
}

@media (max-width: 500px){
  .profile-margin{
    margin-top: 0px;
  }
}

/*#endregion*/

/*#region rubrikerna till vänster*/
/*Border för rubrikerena till vänster*/
.divBorder {
  border-bottom: 3px solid var(--Accentfärg);
}

/*Färg för texten hos rubrikerna till vänster*/
.socialMediaText {
  color: var(--TextColor);
}

/*#endregion*/

/*#region ändrar färg på icons från bootstrap*/
.linkedInColor path {
  fill: var(--TextColor);
}

.arrow path {
  fill: var(--Secondary);
}

/*#endregion*/

/*#region hobies*/

.imageHobieToRight {
  opacity: 0;
  transform: translateX(100px);
  transition: transform 1s ease-in-out, opacity 0.75s ease-in;
}

/*#endregion*/

/*#region tesxt som ska från höger till vänster*/
/*Texten innan den vissas upp*/

.textMoveRight {
  opacity: 0;
  transform: translateX(100px);
  transition: transform 1s ease-in-out, opacity 0.5s ease-in;
}

.textApear {
  opacity: 1;
  transform: translateX(0);
}

/*#endregion*/

/*#region bilderna som visar programmeringsspråk*/

.imageToRight {
  opacity: 0;
  transform: translateX(50px);
  transition: transform 1s ease-in-out, opacity 0.5s eas-in;
}

.programingImagePosition {
  opacity: 1;
  transform: translateX(0px);
  transition: transform 1s ease-in-out, opacity 0.5s ease-in;
}

/*#endregion*/

/*#region nuvarande projek*/

.currentProject {
  margin: 0.5rem;
}

@media (min-width: 426px) {
  .currentProject {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
    opacity: 0;
  }

  .currentProject:hover {
    transform: rotateY(0deg);
    opacity: 1;
  }
}

@media (max-width: 425px) {
  .currentProject {
    opacity: 0;
    transition: opacity 0.75s ease-in;
  }
}

/*#endregion*/

/*#region footer*/
footer {
  background-color: var(--Primary);
}

.footerText {
  color: var(--TextColor);
  font-size: 1.5rem;
}

.footerImageSize {
  width: 1rem;
  height: 1rem;
}

@media (min-width: 426px) {
  .footerImageSize {
    width: 3rem;
    height: 3rem;
  }
}

/*#endregion*/

/*#region image projects*/
.imgProjects {
  width: 10rem;
  height: 5rem;
}

.opacityBefore {
  opacity: 0;
  transition: opacity 0.75s ease-in;
}

.opacityAfter {
  opacity: 1;
}

/*#endregion*/

/*#region Tex CurrentProject på små skärmar*/
@media (max-width: 767px) {
  .backgorund-sm {
    background-color: var(--TextColor);
  }

  .textColor-sm {
    color: var(--TextColor);
    border-bottom: 3px solid var(--Accentfärg);
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  .textColor-md {
    font-size: 2rem;
  }
}

@keyframes bounceInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  60% {
    opacity: 1;
    transform: translateX(-20px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

.slide-button {
  position: fixed;
  top: 75%;
  right: 0;
  transform: translateY(-50%) translateX(100%);
  transition: transform 0.4s ease;
  transform-origin: right center;
  border: none;
  width: 3rem;
  height: 3rem;
  background-color: var(--Accentfärg);
  opacity: 0;
}

.slide-button.show {
  transform: translateY(-50%) translateX(0);
  right: 0;
  animation: bounceInRight 0.6s forwards;
  opacity: 1;
}

.bi-arrow-up{
  fill: var(--Primary);
  margin: 0.5rem;
}

.bi-arrow-up path {
  stroke: var(--Primary); /* Använder samma färg som fyllningen */
  stroke-width: 2px; /* Experimentera med detta värde för att hitta önskad tjocklek */
  
}

/*#endregion*/

.hamburger-hidden-on-scroll {
  background-color: var(--Accentfärg);
  position: fixed;
  top: 50%;
  right: 0;
  left: auto;
  transform: translateY(-50%) translateX(0); /* Vertikalt centrerad, längst till höger */
  transform-origin: right center;
  transition: 
    transform 0.4s ease, 
    opacity 0.3s ease, 
    left 0.4s, 
    right 0.4s, 
    top 0.4s;
  opacity: 0;
}

.hamburger-hidden-on-scroll.show {
  top: 50%;                 /* Behåll halvvägs ner */             /* Flytta horisontellt till mitten */
  right: 0;
  margin-right: 0.5rem;
  transform: translateY(-50%) translateX(-50%);  /* Vertikalt centrerad, horisontellt i mitten */
  animation: bounceInRight 0.6s forwards;
  opacity: 1;
}

#navbarNavAltMarkup{
  position: fixed;
  /* right: 0.5rem; */
  margin-top: 3rem;
  background-color: var(--Primary);
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}

/*#endregion*/

/*#region Style Bachelor's thesis*/
.cover {
  transition: transform 0.2s, box-shadow 0.2s;
}
.cover:hover{
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.clickable-image {
  position: relative;
}

.overlay-icon {
  color: var(--TextColor);
  position: absolute;
  bottom: 8px;
  right: 18px;
  font-size: 1.2rem;
  opacity: 0;
  transition: opacity 0.2s;
}

.clickable-image:hover .overlay-icon {
  opacity: 1;
  display: block;
}
/*#endregion*/


.cuppsatts{
  height: 50vh;
}

.travel{
  color: var(--TextColor);
}

.project-card {
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: scale(1.05);
}

.techniqueButtons{
  background-color: var(--Primary);
}