/*Variable för färger*/
:root {
  --Primary: #01152a;    /* Djup, mörkblå/svart rymd */
  --Secondary: #1a608d;  /* Djupt havsblått */
  --Background: #f0f7f9; /* Ljus, nästan vit färg från moln och isar */
  --TextColor: #f0f7f9;  /* Mörkgrön (skogsområden) för bra kontrast mot Background */
  --Accentfärg: #ffc200; /* Solglimt/Stadsljus för en varm kontrast */
}

*{
  padding: 0;
  margin: 0;
}

html{
  overflow-y: scroll;
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

body {
  overflow-y: hidden;
  height: 100%;

}

/*Spinner för loading screen*/
@keyframes spin {
  0% { transform: rotate(0deg); }
  25% {transform: rotate(90deg);}
  50% {transform: rotate(180deg);}
  75% {transform: rotate(270deg);}
  100% { transform: rotate(360deg); }
}

/*#region Loading Screen Overlay*/
.loading-screen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom right,
    var(--Primary) 0%,
    #05284b 25%,
    #0d426a 50%,
    #15517b 75%,
    var(--Secondary) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
  overflow: hidden;
}

/* Blockera scrollning när loading screen visas */
body.loading-active {
  overflow: hidden;
}

.loading{
  color: var(--Accentfärg);
  font-size: 2rem;
}
/*#endregion*/

.lightBackground{
  background-color: var(--Background);
}

/*Font i komponenten Home*/
.fontHome {
  font-size: 1.5rem;
  color: var(--TextColor);
}

/*#region bounce och färge för pilen*/
.bi-arrow-down {
  display: inline-block;
}

.bi-arrow-down path {
  stroke: currentColor;
  stroke-width: 1.75;
  stroke-linejoin: round;
}

a:has(.bi-arrow-down) {
  animation: 
  bounce 2s ease-in-out infinite,
  colorChange 2s ease-in-out infinite;
  display: inline-block;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    
    50% {
        transform: translateY(15px);
    }
    
    75% {
        transform: translateY(0);
    }
}
/*#endregion*/

.bgProfilePicture {
  /* background-color: var(--TextColor); */
  background: linear-gradient(
    to bottom right,
    var(--Primary) 0%,    /* #01152a - 1. Djupaste Rymden / Nattsida */
    #05284b 25%,          /* 2. Mycket mörk atmosfär / Skymning */
    #0d426a 50%,          /* 3. Djupare hav / Sen skymning */
    #15517b 75%,          /* 4. Ljusare hav / Tidig morgon */
    var(--Secondary) 100% /* #1a608d - 5. Djupt Hav / Dagssida */
  );
  overflow-y: hidden;
}

/*#region bild och animationer till welcome*/
.space:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background-image: url("../src/assets/space-min.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@supports (background-attachment: fixed) {
  @media (min-width: 768px) {
    .space:before {
      background-attachment: fixed;
      background-image: url("../src/assets/space.png");
    }
  }
}

.welcome{
  animation: colorChange 2s ease-in-out infinite;
  color: var(--TextColor);
  fill: var(--TextColor);
}

@keyframes colorChange {
    0%, 100% {
        color: var(--TextColor);
    }
    
    50% {
        color: var(--Primary);
    }
    
    75% {
        color: var(--Primary);
    }
}
/*#endregion*/

/*#region Style text*/
.textColor {
  color: var(--TextColor);
  border-bottom: 3px solid var(--Accentfärg);
  /*Behöver en ny rad för varje element som ska in i vänsterkolumenen*/
  font-size: 2rem;
}

.textColorWhite{
    color: var(--TextColor);
  border-bottom: 3px solid var(--Accentfärg);
  /*Behöver en ny rad för varje element som ska in i vänsterkolumenen*/
  font-size: 2rem;
}
/*#emdregion*/

/*#region generell css *, html, body*/
* {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  background-color: var(--Background);
}

/*#endregion*/

/*#region style för navbar*/
@media (min-width: 768px) {
  /* nav {
    background-color: var(--Primary);
  } */
.custom-toggler {
    display: none;
  }
}

.navBackground{
  background-color: var(--Primary);
  border-radius: 2rem;
}

nav a {
  color: var(--TextColor);
  border-bottom: 3px solid transparent;
  text-decoration: none;
  font-size: 1.25rem;
}

nav a:hover {
  border-bottom: 3px solid var(--Accentfärg);
}

@media (max-width: 767.98px) {

  nav {
    margin-top: 50vh;
  }

  .buttonDiv{
    background-color: var(--Accentfärg);
  }

  .custom-toggler {
    position: relative;
    width: 4rem;
    height: 2.8rem;
    background-color: var(--Accentfärg);
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: block;
    overflow: hidden;
  }
}

.infoText {
  color: var(--TextColor);
}

.headerWhite{
  color: var(--Primary);
  border-bottom: var(--Accentfärg) solid;
}

/*#endregion*/

/*#region Grund postitionen på sträcken i hamburgarmenyn*/
.navbar-collapse {
  overflow: hidden;
  opacity: 1;
  transform: translateX(100%);
  transition: 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transform-origin: right center;
}

@media (min-width: 767px) {
  .navbar-collapse{
    transform: translateX(0);
  }
}

.navbar-toggler-top,
.navbar-toggler-middle,
.navbar-toggler-bottom {
  position: absolute;
  height: 0.35rem;
  width: 2.5rem;
  background-color: var(--Primary);
  display: block;
  transition: 0.4s ease-in-out, opacity 0.4s ease-in-out;
  transform-origin: center;
  border-radius: 3px;
  left: 0.25rem; /* Centrera strecken inom knappen */
  right: 0.25rem;
}

.navbar-collapse.show {
  opacity: 1;
  transform: translateX(0);
}

.navbar-toggler-top {
  top: 0.4rem;
  width: 3.5rem;
}

.navbar-toggler-middle {
  top: 1.2rem;
  width: 3.5rem;
}

.navbar-toggler-bottom {
  top: 2rem;
  width: 3.5rem;
}

/*Effekten när användaren klicak på den*/
.custom-toggler[aria-expanded="true"] .navbar-toggler-top {
  top: 1.3rem;
  transform: rotate(45deg);
  width: 3.5rem;
}

.custom-toggler[aria-expanded="true"] .navbar-toggler-middle {
  display: none;
}

.custom-toggler[aria-expanded="true"] .navbar-toggler-bottom {
  top: 1.3rem;
  transform: rotate(-45deg);
  width: 3.5rem;
}

/*#endregion*/

/*#region scrollbar*/
/*Ytan för scrollbar*/
::-webkit-scrollbar {
  width: 12px;
  background-color: var(--Primary);
}

/*Spåret som den går i*/
::-webkit-scrollbar-track {
  background-color: var(--Background);
}

@media (max-width: 767px) {
  /*Spåret som den går i*/
  ::-webkit-scrollbar-track {
  }
}

/*Själva scrollbaren*/
::-webkit-scrollbar-thumb {
  background-color: var(--Primary);
  border-radius: 10px;
  border: 3px solid var(--Background);
}

/*Vidrörande av scrollbaren*/
::-webkit-scrollbar-thumb:hover {
  background-color: var(--TextColor);
}

/*#endregion*/

/*#region rotation för profilbilden*/

.profilePicture {
  width: 70%;
  height: 85%;
}

.appearRight{
  transform: translateX(-50px);
  transition: transform 1s ease-in-out, opacity 0.5s ease-in;
    opacity: 0;
}

.imageApearRight{
  transform: translateX(0px);
  opacity: 1;
}

@media (max-width: 1900px) {
  .profile-margin {
    margin-top: 60px;
  }
}

@media (max-width: 500px){
  .profile-margin{
    margin-top: 0px;
  }
}

/*#endregion*/

/*#region rubrikerna till vänster*/
/*Border för rubrikerena till vänster*/
.divBorder {
  border-bottom: 3px solid var(--Accentfärg);
}

/*Färg för texten hos rubrikerna till vänster*/
.socialMediaText {
  color: var(--TextColor);
}

/*#endregion*/

/*#region ändrar färg på icons från bootstrap*/
.linkedInColor path {
  fill: var(--TextColor);
}

.arrow path {
  fill: var(--Secondary);
}

/*#endregion*/

/*#region hobies*/

.imageHobieToRight {
  opacity: 0;
  transform: translateX(100px);
  transition: transform 1s ease-in-out, opacity 0.75s ease-in;
}

/*#endregion*/

/*#region tesxt som ska från höger till vänster*/
/*Texten innan den vissas upp*/

.textMoveRight {
  opacity: 0;
  transform: translateX(100px);
  transition: transform 1s ease-in-out, opacity 0.5s ease-in;
}

.textApear {
  opacity: 1;
  transform: translateX(0px);
}

/*#endregion*/

/*#region bilderna som visar programmeringsspråk*/

.imageToRight {
  opacity: 0;
  transform: translateX(50px);
  transition: transform 1s ease-in-out, opacity 0.5s eas-in;
}

/*#endregion*/

/*#region footer*/
footer {
  background-color: var(--Primary);
}

.footerText {
  color: var(--TextColor);
  font-size: 1.5rem;
}

.footerImageSize {
  width: 1rem;
  height: 1rem;
}

@media (min-width: 426px) {
  .footerImageSize {
    width: 3rem;
    height: 3rem;
  }
}

/*#endregion*/

/*#region image projects*/
.imgProjects {
  width: 10rem;
  height: 5rem;
}

.opacityBefore {
  opacity: 0;
  transition: opacity 1.5s ease-in;
  transform: translateY(150px);
}

.opacityAfter {
  opacity: 1;
  transform: translateX(0px);
}

/*#endregion*/

/*#region Tex CurrentProject på små skärmar*/
@media (max-width: 767px) {
  .backgorund-sm {
    background-color: var(--TextColor);
  }

  .textColor-sm {
    color: var(--TextColor);
    border-bottom: 3px solid var(--Accentfärg);
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  .textColor-md {
    font-size: 2rem;
  }
}

@keyframes bounceInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  60% {
    opacity: 1;
    transform: translateX(-20px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

.slide-button {
  position: fixed;
  top: 75%;
  right: 0;
  transform: translateY(-50%) translateX(100%);
  transition: transform 0.4s ease;
  transform-origin: right center;
  border: none;
  width: 3rem;
  height: 3rem;
  background-color: var(--Accentfärg);
  opacity: 0;
}

.slide-button.show {
  transform: translateY(-50%) translateX(0);
  right: 0;
  animation: bounceInRight 0.6s forwards;
  opacity: 1;
}

.bi-arrow-up{
  fill: var(--Primary);
  margin: 0.5rem;
}

.bi-arrow-up path {
  stroke: var(--Primary); /* Använder samma färg som fyllningen */
  stroke-width: 2px; /* Experimentera med detta värde för att hitta önskad tjocklek */
  
}

/*#endregion*/

.hamburger-hidden-on-scroll {
  background-color: var(--Accentfärg);
  position: fixed;
  top: 50%;
  right: 0;
  left: auto;
  transform: translateY(-50%) translateX(0); /* Vertikalt centrerad, längst till höger */
  transform-origin: right center;
  transition: 
    transform 0.4s ease, 
    opacity 0.3s ease, 
    left 0.4s, 
    right 0.4s, 
    top 0.4s;
  opacity: 0;
}

.hamburger-hidden-on-scroll.show {
  top: 50%;                 /* Behåll halvvägs ner */             /* Flytta horisontellt till mitten */
  right: 0;
  margin-right: 0.5rem;
  transform: translateY(-50%) translateX(-50%);  /* Vertikalt centrerad, horisontellt i mitten */
  animation: bounceInRight 0.6s forwards;
  opacity: 1;
}

#navbarNavAltMarkup{
  position: fixed;
  /* right: 0.5rem; */
  margin-top: 3rem;
  background-color: var(--Primary);
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}

/*#endregion*/

/*#region Style Bachelor's thesis*/
.cover {
  transition: transform 0.2s, box-shadow 0.2s;
}
.cover:hover{
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.clickable-image {
  position: relative;
}

.overlay-icon {
  color: var(--TextColor);
  position: absolute;
  bottom: 8px;
  right: 18px;
  font-size: 1.2rem;
  opacity: 0;
  transition: opacity 0.2s;
}

.clickable-image:hover .overlay-icon {
  opacity: 1;
  display: block;
}
/*#endregion*/

.cuppsatts{
  height: 50vh;
}

.travel{
  color: var(--TextColor);
}

.project-card {
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: scale(1.05);
}

.techniqueButtons{
  background-color: var(--Primary);
}

/*#region Logo Loop*/
.logoloop {
  position: relative;
  overflow: hidden;
  height: 100%;
  max-height: 100vh;
  --logoloop-gap: 32px;
  --logoloop-logoHeight: 28px;
  --logoloop-fadeColorAuto: #ffffff;
}

.logoloop--vertical {
  height: 100%;
  display: inline-block;
  overflow: hidden;
  max-height: 100vh;
}

.logoloop--scale-hover {
  padding-top: calc(var(--logoloop-logoHeight) * 0.1);
 /*  padding-bottom: calc(var(--logoloop-logoHeight) * 0.1); */
}

@media (prefers-color-scheme: dark) {
  .logoloop {
    --logoloop-fadeColorAuto: #0b0b0b;
  }
}

.logoloop__track {
  display: flex;
  width: max-content;
  will-change: transform;
  user-select: none;
  position: relative;
  z-index: 0;
}

.logoloop--vertical .logoloop__track {
  flex-direction: column;
  height: max-content;
  width: 100%;
}

.logoloop__list {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.logoloop--vertical .logoloop__list {
  flex-direction: column;
}

.logoloop__item {
  flex: 0 0 auto;
  margin-right: var(--logoloop-gap);
  font-size: var(--logoloop-logoHeight);
  line-height: 1;
}

.logoloop--vertical .logoloop__item {
  margin-right: 0;
  margin-bottom: var(--logoloop-gap); 
}

.logoloop__item:last-child {
  margin-right: var(--logoloop-gap);
}

.logoloop--vertical .logoloop__item:last-child {
  margin-right: 0;
  margin-bottom: var(--logoloop-gap);
}

.logoloop__node {
  display: inline-flex;
  align-items: center;
}

.logoloop__item img {
  height: var(--logoloop-logoHeight);
  width: auto;
  display: block;
  object-fit: contain;
  image-rendering: -webkit-optimize-contrast;
  -webkit-user-drag: none;
  pointer-events: none;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.logoloop--scale-hover .logoloop__item {
  overflow: visible;
}

.logoloop--scale-hover .logoloop__item:hover img,
.logoloop--scale-hover .logoloop__item:hover .logoloop__node {
  transform: scale(1.2);
  transform-origin: center center;
} 

.logoloop--scale-hover .logoloop__node {
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.logoloop--fade::before,
.logoloop--fade::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: clamp(24px, 8%, 120px);
  pointer-events: none;
  z-index: 10;
}

.logoloop--fade::before {
  left: 0;
  background: linear-gradient(
    to right,
    var(--logoloop-fadeColor, var(--logoloop-fadeColorAuto)) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.logoloop--fade::after {
  right: 0;
  background: linear-gradient(
    to left,
    var(--logoloop-fadeColor, var(--logoloop-fadeColorAuto)) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.logoloop--vertical.logoloop--fade::before,
.logoloop--vertical.logoloop--fade::after {
  left: 0;
  right: 0;
  width: 100%;
  height: clamp(24px, 8%, 120px);
}

.logoloop--vertical.logoloop--fade::before {
  top: 0;
  bottom: auto;
  background: linear-gradient(
    to bottom,
    var(--logoloop-fadeColor, var(--logoloop-fadeColorAuto)) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.logoloop--vertical.logoloop--fade::after {
  bottom: 0;
  top: auto;
  background: linear-gradient(
    to top,
    var(--logoloop-fadeColor, var(--logoloop-fadeColorAuto)) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

@media (prefers-reduced-motion: reduce) {
  .logoloop__track {
    transform: translate3d(0, 0, 0) !important;
  }

  .logoloop__item img,
  .logoloop__node {
    transition: none !important;
  }
}
/*#endregion*/

/*#region css för tidslinjen i career*/
.timeLine-container{
  position: relative;
}

.timeLine{
  background-color: var(--Primary);
  width: 5px;
}

.roundDot {
  height: 25px; /* Din befintliga höjd */
    width: 25px;  /* Din befintliga bredd */
    /* ... övriga stilar ... */

    border-radius: 50%;

    /* Positionering: */
    position: absolute;
    top: 50%;         /* Flytta ner 50% av containerns höjd */
    left: 50%;        /* Flytta höger 50% av containerns bredd */
    /* Kompensera för bollens egen storlek: */
    transform: translate(-50%, -50%);
    background-color: var(--Primary);
    flex-shrink: 0; /* förhindra att flex trycker ihop den */
}
/*#endregion*/

.leftCareer{
  opacity: 0;
  transform: translateX(300px);
  transition: transform 0.75s ease-in, opacity 0.75s ease-in;
  overflow-y: hidden;
}

.inLeft{
  transform: translateX(0px);
  opacity: 1;
}

.rightCareer{
  opacity: 0;
  transform: translateX(-300px) ;
  transition: transform 0.75s ease-in, opacity 0.75s ease-in;
}

.textApear {
  opacity: 1;
  transform: translateX(0px);
}


